
include *.md
include LICENSE.txt
include requirements.txt
include pylfsr/__init__.py

recursive-include pylfsr *.py
recursive-include pylfsr *.txt
recursive-include examples *.py
recursive-include examples *.ipynb
recursive-include *.ipynb


### Exclude

recursive-exclude * __pycache__
recursive-exclude *.yml
